#main,
h2,
.login {
    text-align: center;
}

#title {
    color: #cbccce;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}

a {
    padding: 3px;
}

.signIn {
    text-align: left;
    margin-left: 10px;
}

#team {
    margin-left: 63px;
    padding-top: 10px;
    color: black;
}

#register {
    padding-bottom: 15px;
    margin-top: -8px;
}

form.create-update-form {
    background: midnightblue;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: grey;
    border-style: solid;
    border-width: 10px;
}

body {
    background-image: url(../images/field.jpg);
    color: #f7f7f8;
}

.jumbotron,
#team,
#search,
#viewTeam,
h2,
.login,
.signIn {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.jumbotron {
    background: #042044;
    color: white;
    margin: -40px;
    padding: 10px;
    padding-bottom: 1px;
}

.tfbutton,
#display,
button,
#em,
#pass,
#username,
#email,
input.search {
    color: black;
}

.ranks {
    text-align: center;
    list-style-position: inside;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0px;
    background-color: #042044;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

#myTeam {
    background-color: white;
}

#myPlayers {
    width: 27%;
    margin-left: 86px;
    padding-bottom: 10px;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

#arrow {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 36px;
    right: -16px;
    color: midnightblue;
    background-color: white;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    clear: both;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container {
    background-color: #fff;
    color: black;
    padding-bottom: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    padding-bottom: 11px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#arrow {
    transition: margin-right .5s;
    padding: 20px;
}

#viewTeam {
    float: right;
}

i#arrow.fa.fa-angle-double-left {
    margin-right: -32px;
    padding-top: 30px;
    padding-bottom: 19px;
    padding-left: 0px;
    border-style: solid;
    border-color: black;
}

#viewTeam {
    font-size: small;
    font-weight: bold;
    margin-top: 6px;
    margin-left: -27px;
    transform: rotate(90deg);
}

ul.nav.nav-tabs {
    padding-left: 20%;
    padding-right: 20%;
}

li {
    color: black;
    text-align: center;
    padding: 5px;
}

li a {
    font-weight: bold;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 1px solid #efefef
}

th {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #efefef
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}