#main,
h2,
.login {
    text-align: center;
}

body {
    background: #262829;
    color: #f7f7f8;
}

.jumbotron,
#team,
#search,
#viewTeam {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.jumbotron {
    background: #337ab7;
    color: #cbccce;
}

.tfbutton,
#display,
button,
#em,
#pass,
#username,
#email,
input.search {
    color: black;
}

.ranks {
    text-align: center;
    list-style-position: inside;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0px;
    background-color: grey;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

#arrow {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 36px;
    right: -16px;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    clear: both;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main,
#arrow {
    transition: margin-right .5s;
    padding: 20px;
}

span {
    float: right;
}

i#arrow.fa.fa-angle-double-left {
    margin-right: -32px;
}

#viewTeam {
    font-size: medium;
    margin-top: 10px;
    margin-left: -34px;
    transform: rotate(90deg);
}

li a {
    font-weight: bold;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #dee0e2;
}

th {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}