<div id="main">

    <!-- Use any element to open the sidenav -->
    <i class="fa fa-angle-double-left" id="arrow"><span id="viewTeam">View Team</span></i>

    <div class="jumbotron">
      <div id="title">
      <h1>Fan-tasize</h1>
      <h3>The #1 solution for creating the best fantasy team!</h3>
      </div>
    </div>

    </div>