<div id="main">

    <!-- Use any element to open the sidenav -->
    <i class="fa fa-angle-double-left" id="arrow"><span id="viewTeam">View Team</span></i>

    <div class="page-header">
            <!--<h1>FAN-<span id="logoColor">TASIZE</span></h1>
            <h3>The #1 solution for creating the best fantasy team!</h3>-->
        </div>

        <div class="header">
            <img src="/assets/images/fantasize.png" id="logo">
        </div>

    </div>